<app-navbar> </app-navbar>
<div class="jumbotron text-center">
  <h1 class="display-4">Contact Us</h1>
  <p class="lead">This is contact us Page</p>
  <div class="cointainer">
    <section>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi sunt
        iure fugit neque maxime! Consequatur architecto at, vitae voluptatibus
        neque, dolor vero rerum blanditiis magni ex officiis sed! Ipsam,
        expedita. Sint commodi itaque quae voluptate dolore excepturi impedit
        enim iusto minima aspernatur numquam corrupti fugiat repellat natus est,
        quibusdam id cumque! Libero fuga id iste modi, laborum ut. Dicta
        voluptatum fugiat maxime dolorum numquam obcaecati facilis assumenda
        ratione, animi qui deserunt mollitia amet rerum? Ab saepe doloremque
        nobis eveniet amet totam incidunt delectus est facilis accusamus iure,
        dignissimos placeat officiis alias dolorum nesciunt molestiae aliquam
        quae atque ratione voluptatibus architecto!
      </p>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et nesciunt
        necessitatibus suscipit fugiat maxime quas, atque optio. Accusantium
        accusamus suscipit eligendi facilis aliquam, temporibus possimus. Minima
        delectus expedita cumque dolorem consectetur cum sed sint non fuga!
        Deleniti eos corporis cum quidem aut exercitationem nam ut fugiat
        adipisci sed, quis magnam modi deserunt recusandae minima placeat maxime
        consectetur dolorum, autem fugit quam ipsa! Est magnam odit sit sint
        laboriosam quisquam quae. Minus, saepe. Doloremque, blanditiis qui
        inventore neque voluptate, cupiditate sequi necessitatibus dolorem ex
        repellat pariatur porro, debitis totam laudantium distinctio magni
        consectetur! Ab beatae aliquam dolorem repellendus nesciunt velit sunt!
      </p>
    </section>
  </div>
</div>
