.card{
    display: flex;
    align-items: stretch;
    margin:1.3rem;
    padding:1.22rem;
  }
  .myButton{
     position: absolute;
     bottom: 0;
     left:0;
     margin-left: 1.5rem;
     margin-bottom: 1.5rem;
  }
  .card-text{
margin-bottom: 1.5rem;
  }
  .card-img-top {
    width: 100%;
    height: 30vh;
    object-fit: contain;
    }